a,
h1,
h2,
h3,
h4,
h5,
h6,
img,
p {
    -webkit-transition: all .3s ease;
}

.box,
footer {
    position: relative;
}

.box,
img {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3), 0 0 40px rgba(0, 0, 0, .1) inset;
}

.has-sub,
.row,
.sub {
    -webkit-box-direction: normal;
}

html {
    box-sizing: border-box;
    font-family: Cabin, sans-serif;
    color: #030303;
}

*,
:after,
:before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    list-style: none;
    color: inherit;
    text-transform: inherit;
    text-shadow: inherit;
    text-decoration: none;
    font-style: inherit;
    font-weight: inherit;
    font-family: inherit;
    max-width: 100%;
}

.italic,
h5,
h6 {
    font-style: italic;
}

* {
    font-size: 12px;
}

nav {
    z-index: 2;
}

#logo,
.pl-base {
    z-index: 3;
}

footer {
    bottom: 0;
}

img {
    margin: 5px 2%;
    border-radius: .5rem;
    transition: all .3s ease;
}

.tx-omg {
    font-size: 9rem;
}

.tx-gigantic {
    font-size: 6rem;
}

.tx-huge,
h1 {
    font-size: 4rem;
}

.tx-big,
h2 {
    font-size: 3rem;
}

.tx-large,
h3 {
    font-size: 2rem;
}

.tx-normal,
h4 {
    font-size: 1.2rem;
}

.tx-small,
h5 {
    font-size: 1rem;
}

h5,
h6 {
    font-weight: 400;
}

.tx-tiny,
h6 {
    font-size: .8rem;
}

p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

li>a {
    width: 100%;
}

a:hover {
    color: rgba(255, 255, 255, .5);
}

.bx-pale a:hover,
.bx-white a:hover,
a.bx-pale:hover,
a.bx-white:hover {
    color: rgba(0, 0, 0, .5);
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    transition: all .3s ease;
}

code {
    width: 80%;
    font-family: "Source Code Pro", sans-serif;
    margin-left: 0;
    margin-right: auto;
    padding: 5px 2%;
    background-color: #eaeaea;
    border: 2px solid #b2b2b2;
}

.img-squished,
.squished .box {
    margin: 0;
}

#page-container {
    min-height: 100vh;
}

.box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: inherit;
    -webkit-flex: inherit;
    -ms-flex: inherit;
    flex: inherit;
    border-radius: .5rem;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.logo-a {
    width: 10vw;
}

.logo-b {
    width: 14vw;
}

.logo-c {
    width: 18vw;
}

.logo-d {
    width: 22vw;
}

.logo-e {
    width: 26vw;
}

.logo-f {
    width: 30vw;
}

.logo-g {
    width: 34vw;
}

.img-a {
    padding: .5%;
}

.img-b {
    padding: 1%;
}

.img-c {
    padding: 2%;
}

.img-d {
    padding: 3%;
}

.img-e {
    padding: 5%;
}

.img-f {
    padding: 7.5%;
}

.img-g {
    padding: 10%;
}

.parallax {
    -webkit-perspective: 1px;
    perspective: 1px;
    perspective-origin-x: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin-x: 100%;
}

.group {
    position: relative;
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.pl-base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.pl-back {
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
    z-index: 2;
}

.pl-deep,
.pop {
    z-index: 1;
}

.pl-deep {
    -webkit-transform: translateZ(-2px) scale(3);
    transform: translateZ(-2px) scale(3);
}

.roomy {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

.squished {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.halfsies>.box {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 45%;
    -ms-flex: 1 0 45%;
    flex: 1 0 45%;
}

.thirdsies>.box {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 30%;
    -ms-flex: 1 0 30%;
    flex: 1 0 30%;
}

.fourthsies>.box {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 22%;
    -ms-flex: 1 0 22%;
    flex: 1 0 22%;
}

.fifthsies>.box {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 18%;
    -ms-flex: 1 0 18%;
    flex: 1 0 18%;
}

.sixthsies>.box {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 15%;
    -ms-flex: 1 0 15%;
    flex: 1 0 15%;
}

.seventhsies>.box {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 13%;
    -ms-flex: 1 0 13%;
    flex: 1 0 13%;
}

.eighthsies>.box {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 11%;
    -ms-flex: 1 0 11%;
    flex: 1 0 11%;
}

.ninthsies>.box {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 10%;
    -ms-flex: 1 0 10%;
    flex: 1 0 10%;
}

.tenthsies>.box {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 9%;
    -ms-flex: 1 0 9%;
    flex: 1 0 9%;
}

.infinitsies>.box {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.eighthsies>.box,
.fifthsies>.box,
.fourthsies>.box,
.halfsies>.box,
.infinitsies>.box,
.ninthsies>.box,
.seventhsies>.box,
.sixthsies>.box,
.tenthsies>.box,
.thirdsies>.box {
    margin: 5px .5%;
}

.eighthsies,
.fifthsies,
.fourthsies,
.halfsies,
.infinitsies,
.ninthsies,
.seventhsies,
.sixthsies,
.tenthsies,
.thirdsies {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.column,
.has-sub,
.sub {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
}

.flat {
    border-radius: 0;
    box-shadow: none;
}

.raised,
.shadow {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3), 0 0 40px rgba(0, 0, 0, .1) inset;
}

.raised {
    border-radius: .5rem;
}

.pointy {
    border-radius: 0;
}

.curved {
    border-radius: .5rem;
}

.circle {
    border-radius: 50%;
}

.poke:hover,
.pop:hover,
.wiggle:hover,
.woggle:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3), 0 0 40px rgba(255, 255, 255, .1) inset;
}

.has-sub:hover,
.sub>li {
    z-index: 5;
}

.poke:hover {
    -webkit-transform: translate(2px, 2px);
    -ms-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
}

.pop:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}

.wiggle:hover {
    -webkit-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

.woggle:hover {
    -webkit-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
}

.bx-transparent,
h1.poke:hover,
h1.pop:hover,
h1.wiggle:hover,
h1.woggle:hover,
h2.poke:hover,
h2.pop:hover,
h2.wiggle:hover,
h2.woggle:hover,
h3.poke:hover,
h3.pop:hover,
h3.wiggle:hover,
h3.woggle:hover {
    box-shadow: none;
}

.flip-a {
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.flip-b {
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.flip-c {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.flip-d {
    -webkit-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.flip-e {
    -webkit-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    transform: rotate(-25deg);
}

.flip-f {
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

.flip-g {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.flop-a {
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
}

.flop-b {
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}

.flop-c {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
}

.flop-d {
    -webkit-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}

.flop-e {
    -webkit-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
}

.flop-f {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.flop-g {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.bx-black {
    background-color: #000000;
}

.bx-black-a {
    background-color: #191919;
}

.bx-black-b {
    background-color: #3f3f3f;
}

.bx-black-c {
    background-color: #565656;
}

.bx-black-d {
    background-color: #7f7f7f;
}

.bx-black-e {
    background-color: #aaaaaa;
}

.bx-black-f {
    background-color: #bfbfbf;
}

.bx-black-g {
    background-color: #e5e5e5;
}

.bx-blue {
    background-color: #3b5bd2;
}

.bx-blue-a {
    background-color: #4e6bd6;
}

.bx-blue-b {
    background-color: #6c84dd;
}

.bx-blue-c {
    background-color: #7d92e1;
}

.bx-blue-d {
    background-color: #9dade8;
}

.bx-blue-e {
    background-color: #bec8f0;
}

.bx-blue-f {
    background-color: #ced6f3;
}

.bx-blue-g {
    background-color: #ebeefa;
}

.bx-brown {
    background-color: #5e4615;
}

.bx-brown-a {
    background-color: #6e582c;
}

.bx-brown-b {
    background-color: #86744f;
}

.bx-brown-c {
    background-color: #948464;
}

.bx-brown-d {
    background-color: #aea28a;
}

.bx-brown-e {
    background-color: #c9c1b1;
}

.bx-brown-f {
    background-color: #d6d0c4;
}

.bx-brown-g {
    background-color: #eeece7;
}

.bx-cyan {
    background-color: #3bf7f1;
}

.bx-cyan-a {
    background-color: #4ef7f2;
}

.bx-cyan-b {
    background-color: #6cf9f4;
}

.bx-cyan-c {
    background-color: #7df9f5;
}

.bx-cyan-d {
    background-color: #9dfbf8;
}

.bx-cyan-e {
    background-color: #befcfa;
}

.bx-cyan-f {
    background-color: #cefdfb;
}

.bx-cyan-g {
    background-color: #ebfefd;
}

.bx-dark {
    background-color: #191919;
}

.bx-dark-a {
    background-color: #2f2f2f;
}

.bx-dark-b {
    background-color: #525252;
}

.bx-dark-c {
    background-color: #676767;
}

.bx-dark-d {
    background-color: #8c8c8c;
}

.bx-dark-e {
    background-color: #b3b3b3;
}

.bx-dark-f {
    background-color: #c5c5c5;
}

.bx-dark-g {
    background-color: #e8e8e8;
}

.bx-flame {
    background-color: #ff1900;
}

.bx-flame-a {
    background-color: #ff2f19;
}

.bx-flame-b {
    background-color: #ff523f;
}

.bx-flame-c {
    background-color: #ff6756;
}

.bx-flame-d {
    background-color: #ff8c7f;
}

.bx-flame-e {
    background-color: #ffb3aa;
}

.bx-flame-f {
    background-color: #ffc5bf;
}

.bx-flame-g {
    background-color: #ffe8e5;
}

.bx-gold {
    background-color: #c9b43e;
}

.bx-gold-a {
    background-color: #cebb51;
}

.bx-gold-b {
    background-color: #d6c66e;
}

.bx-gold-c {
    background-color: #dbcd7f;
}

.bx-gold-d {
    background-color: #e4d99e;
}

.bx-gold-e {
    background-color: #ede6bf;
}

.bx-gold-f {
    background-color: #f1ecce;
}

.bx-gold-g {
    background-color: #f9f7eb;
}

.bx-green {
    background-color: #198c1b;
}

.bx-green-a {
    background-color: #2f9731;
}

.bx-green-b {
    background-color: #52a854;
}

.bx-green-c {
    background-color: #67b368;
}

.bx-green-d {
    background-color: #8cc58d;
}

.bx-green-e {
    background-color: #b3d9b3;
}

.bx-green-f {
    background-color: #c5e2c6;
}

.bx-green-g {
    background-color: #e8f3e8;
}

.bx-grey {
    background-color: #4a4f54;
}

.bx-grey-a {
    background-color: #5c6065;
}

.bx-grey-b {
    background-color: #777b7e;
}

.bx-grey-c {
    background-color: #878a8e;
}

.bx-grey-d {
    background-color: #a4a7a9;
}

.bx-grey-e {
    background-color: #c3c4c6;
}

.bx-grey-f {
    background-color: #d1d3d4;
}

.bx-grey-g {
    background-color: #eceded;
}

.bx-lime {
    background-color: #9edb34;
}

.bx-lime-a {
    background-color: #a7de48;
}

.bx-lime-b {
    background-color: #b6e466;
}

.bx-lime-c {
    background-color: #bee779;
}

.bx-lime-d {
    background-color: #ceed99;
}

.bx-lime-e {
    background-color: #def3bc;
}

.bx-lime-f {
    background-color: #e6f6cc;
}

.bx-lime-g {
    background-color: #f5fbea;
}

.bx-magenta {
    background-color: #e628ff;
}

.bx-magenta-a {
    background-color: #e83dff;
}

.bx-magenta-b {
    background-color: #ec5dff;
}

.bx-magenta-c {
    background-color: #ee71ff;
}

.bx-magenta-d {
    background-color: #f293ff;
}

.bx-magenta-e {
    background-color: #f6b8ff;
}

.bx-magenta-f {
    background-color: #f8c9ff;
}

.bx-magenta-g {
    background-color: #fce9ff;
}

.bx-maroon {
    background-color: #602132;
}

.bx-maroon-a {
    background-color: #6f3746;
}

.bx-maroon-b {
    background-color: #875865;
}

.bx-maroon-c {
    background-color: #966c77;
}

.bx-maroon-d {
    background-color: #af9098;
}

.bx-maroon-e {
    background-color: #cab5bb;
}

.bx-maroon-f {
    background-color: #d7c7cb;
}

.bx-maroon-g {
    background-color: #efe8ea;
}

.bx-navy {
    background-color: #030248;
}

.bx-navy-a {
    background-color: #1c1b5a;
}

.bx-navy-b {
    background-color: #424175;
}

.bx-navy-c {
    background-color: #585886;
}

.bx-navy-d {
    background-color: #8180a3;
}

.bx-navy-e {
    background-color: #ababc2;
}

.bx-navy-f {
    background-color: #c0bfd1;
}

.bx-navy-g {
    background-color: #e5e5ec;
}

.bx-orange {
    background-color: #db5600;
}

.bx-orange-a {
    background-color: #de6619;
}

.bx-orange-b {
    background-color: #e4803f;
}

.bx-orange-c {
    background-color: #e78f56;
}

.bx-orange-d {
    background-color: #edaa7f;
}

.bx-orange-e {
    background-color: #f3c7aa;
}

.bx-orange-f {
    background-color: #f6d4bf;
}

.bx-orange-g {
    background-color: #fbeee5;
}

.bx-pale {
    background-color: #ffcffc;
}

.bx-pale-a {
    background-color: #ffffd1;
}

.bx-pale-b {
    background-color: #ffffd8;
}

.bx-pale-c {
    background-color: #ffffdd;
}

.bx-pale-d {
    background-color: #ffffe5;
}

.bx-pale-e {
    background-color: #ffffee;
}

.bx-pale-f {
    background-color: #fffff2;
}

.bx-pale-g {
    background-color: #fffff9;
}

.bx-pink {
    background-color: #fc6ac9;
}

.bx-pink-a {
    background-color: #fc78ce;
}

.bx-pink-b {
    background-color: #fc8fd6;
}

.bx-pink-c {
    background-color: #fd9cdb;
}

.bx-pink-d {
    background-color: #fdb4e4;
}

.bx-pink-e {
    background-color: #fecded;
}

.bx-pink-f {
    background-color: #fed9f1;
}

.bx-pink-g {
    background-color: #fef0f9;
}

.bx-purple {
    background-color: #810195;
}

.bx-purple-a {
    background-color: #8d1a9f;
}

.bx-purple-b {
    background-color: #a040af;
}

.bx-purple-c {
    background-color: #ab57b9;
}

.bx-purple-d {
    background-color: #c080ca;
}

.bx-purple-e {
    background-color: #d5abdc;
}

.bx-purple-f {
    background-color: #dfbfe4;
}

.bx-purple-g {
    background-color: #f2e5f4;
}

.bx-red {
    background-color: #9c0816;
}

.bx-red-a {
    background-color: #a5202d;
}

.bx-red-b {
    background-color: #b44550;
}

.bx-red-c {
    background-color: #bd5b65;
}

.bx-red-d {
    background-color: #cd838a;
}

.bx-red-e {
    background-color: #deadb2;
}

.bx-red-f {
    background-color: #e6c1c4;
}

.bx-red-g {
    background-color: #f5e6e7;
}

.bx-salmon {
    background-color: #ff9993;
}

.bx-salmon-a {
    background-color: #ffa39d;
}

.bx-salmon-b {
    background-color: #ffb2ae;
}

.bx-salmon-c {
    background-color: #ffbbb7;
}

.bx-salmon-d {
    background-color: #ffccc9;
}

.bx-salmon-e {
    background-color: #ffdddb;
}

.bx-salmon-f {
    background-color: #ffe5e4;
}

.bx-salmon-g {
    background-color: #fff4f4;
}

.bx-silver {
    background-color: #bcbcbc;
}

.bx-silver-a {
    background-color: #c2c2c2;
}

.bx-silver-b {
    background-color: #cccccc;
}

.bx-silver-c {
    background-color: #d2d2d2;
}

.bx-silver-d {
    background-color: #dddddd;
}

.bx-silver-e {
    background-color: #e8e8e8;
}

.bx-silver-f {
    background-color: #eeeeee;
}

.bx-silver-g {
    background-color: #f8f8f8;
}

.bx-tan {
    background-color: #c6b493;
}

.bx-tan-a {
    background-color: #cbbb9d;
}

.bx-tan-b {
    background-color: #d4c6ae;
}

.bx-tan-c {
    background-color: #d9cdb7;
}

.bx-tan-d {
    background-color: #e2d9c9;
}

.bx-tan-e {
    background-color: #ece6db;
}

.bx-tan-f {
    background-color: #f0ece4;
}

.bx-tan-g {
    background-color: #f9f7f4;
}

.bx-teal {
    background-color: #028091;
}

.bx-teal-a {
    background-color: #1b8c9c;
}

.bx-teal-b {
    background-color: #419fac;
}

.bx-teal-c {
    background-color: #58abb6;
}

.bx-teal-d {
    background-color: #80bfc8;
}

.bx-teal-e {
    background-color: #abd5da;
}

.bx-teal-f {
    background-color: #bfdfe3;
}

.bx-teal-g {
    background-color: #e5f2f4;
}

.bx-transparent {
    background-color: transparent;
}

.bx-violet {
    background-color: #5c07bc;
}

.bx-violet-a {
    background-color: #6c1fc2;
}

.bx-violet-b {
    background-color: #8445cc;
}

.bx-violet-c {
    background-color: #935bd2;
}

.bx-violet-d {
    background-color: #ad83dd;
}

.bx-violet-e {
    background-color: #c9ade8;
}

.bx-violet-f {
    background-color: #d6c1ee;
}

.bx-violet-g {
    background-color: #eee6f8;
}

.bx-white {
    background-color: #ffffff;
}
/*These are transparent*/
.bx-white-a {
    background-color: rgba(255, 255, 255, .9);
}

.bx-white-b {
    background-color: rgba(255, 255, 255, .75);
}

.bx-white-c {
    background-color: rgba(255, 255, 255, .66);
}

.bx-white-d {
    background-color: rgba(255, 255, 255, .5);
}

.bx-white-e {
    background-color: rgba(255, 255, 255, .33);
}

.bx-white-f {
    background-color: rgba(255, 255, 255, .25);
}

.bx-white-g {
    background-color: rgba(255, 255, 255, .1);
}

.bx-yellow {
    background-color: #ffb736;
}

.bx-yellow-a {
    background-color: #ffbe4a;
}

.bx-yellow-b {
    background-color: #ffc968;
}

.bx-yellow-c {
    background-color: #ffcf7a;
}

.bx-yellow-d {
    background-color: #ffdb9a;
}

.bx-yellow-e {
    background-color: #ffe7bc;
}

.bx-yellow-f {
    background-color: #ffedcc;
}

.bx-yellow-g {
    background-color: #fff7ea;
}

.sub,
.sub>li:hover {
    background-color: inherit;
}

.alpha-a {
    opacity: .9;
}

.alpha-b {
    opacity: .75;
}

.alpha-c {
    opacity: .66;
}

.alpha-d {
    opacity: .5;
}

.alpha-e {
    opacity: .33;
}

.alpha-f {
    opacity: .25;
}

.alpha-g {
    opacity: .1;
}

.gutters-a {
    padding-left: .5%;
    padding-right: .5%;
}

.gutters-b {
    padding-left: 1%;
    padding-right: 1%;
}

.gutters-c {
    padding-left: 2%;
    padding-right: 2%;
}

.gutters-d {
    padding-left: 3%;
    padding-right: 3%;
}

.gutters-e {
    padding-left: 5%;
    padding-right: 5%;
}

.gutters-f {
    padding-left: 7.5%;
    padding-right: 7.5%;
}

.gutters-g {
    padding-left: 10%;
    padding-right: 10%;
}

.gutterr-a {
    padding-right: .5%;
}

.gutterr-b {
    padding-right: 1%;
}

.gutterr-c {
    padding-right: 2%;
}

.gutterr-d {
    padding-right: 3%;
}

.gutterr-e {
    padding-right: 5%;
}

.gutterr-f {
    padding-right: 7.5%;
}

.gutterr-g {
    padding-right: 10%;
}

.gutterl-a {
    padding-left: .5%;
}

.gutterl-b {
    padding-left: 1%;
}

.gutterl-c {
    padding-left: 2%;
}

.gutterl-d {
    padding-left: 3%;
}

.gutterl-e {
    padding-left: 5%;
}

.gutterl-f {
    padding-left: 7.5%;
}

.gutterl-g {
    padding-left: 10%;
}

.fluff-a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.fluff-b {
    padding-top: 10px;
    padding-bottom: 10px;
}

.fluff-c {
    padding-top: 15px;
    padding-bottom: 15px;
}

.fluff-d {
    padding-top: 20px;
    padding-bottom: 20px;
}

.fluff-e {
    padding-top: 40px;
    padding-bottom: 40px;
}

.fluff-f {
    padding-top: 60px;
    padding-bottom: 60px;
}

.fluff-g {
    padding-top: 100px;
    padding-bottom: 100px;
}

.flufft-a {
    padding-top: 5px;
}

.flufft-b {
    padding-top: 10px;
}

.flufft-c {
    padding-top: 15px;
}

.flufft-d {
    padding-top: 20px;
}

.flufft-e {
    padding-top: 40px;
}

.flufft-f {
    padding-top: 60px;
}

.flufft-g {
    padding-top: 100px;
}

.fluffb-a {
    padding-bottom: 5px;
}

.fluffb-b {
    padding-bottom: 10px;
}

.fluffb-c {
    padding-bottom: 15px;
}

.fluffb-d {
    padding-bottom: 20px;
}

.fluffb-e {
    padding-bottom: 40px;
}

.fluffb-f {
    padding-bottom: 60px;
}

.fluffb-g {
    padding-bottom: 100px;
}

.nudge-a {
    margin: 5px;
}

.nudge-b {
    margin: 10px;
}

.nudge-c {
    margin: 15px;
}

.nudge-d {
    margin: 20px;
}

.nudge-e {
    margin: 40px;
}

.nudge-f {
    margin: 60px;
}

.nudge-g {
    margin: 100px;
}

.nudget-a {
    margin-top: 5px;
}

.nudget-b {
    margin-top: 10px;
}

.nudget-c {
    margin-top: 15px;
}

.nudget-d {
    margin-top: 20px;
}

.nudget-e {
    margin-top: 40px;
}

.nudget-f {
    margin-top: 60px;
}

.nudget-g {
    margin-top: 100px;
}

.nudgeb-a {
    margin-bottom: 5px;
}

.nudgeb-b {
    margin-bottom: 10px;
}

.nudgeb-c {
    margin-bottom: 15px;
}

.nudgeb-d {
    margin-bottom: 20px;
}

.nudgeb-e {
    margin-bottom: 40px;
}

.nudgeb-f {
    margin-bottom: 60px;
}

.nudgeb-g {
    margin-bottom: 100px;
}

.nudger-a {
    margin-right: 5px;
}

.nudger-b {
    margin-right: 10px;
}

.nudger-c {
    margin-right: 15px;
}

.nudger-d {
    margin-right: 20px;
}

.nudger-e {
    margin-right: 40px;
}

.nudger-f {
    margin-right: 60px;
}

.nudger-g {
    margin-right: 100px;
}

.nudgel-a {
    margin-left: 5px;
}

.nudgel-b {
    margin-left: 10px;
}

.nudgel-c {
    margin-left: 15px;
}

.nudgel-d {
    margin-left: 20px;
}

.nudgel-e {
    margin-left: 40px;
}

.nudgel-f {
    margin-left: 60px;
}

.nudgel-g {
    margin-left: 100px;
}

.nudgetb-a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.nudgetb-b {
    margin-top: 10px;
    margin-bottom: 10px;
}

.nudgetb-c {
    margin-top: 15px;
    margin-bottom: 15px;
}

.nudgetb-d {
    margin-top: 20px;
    margin-bottom: 20px;
}

.nudgetb-e {
    margin-top: 40px;
    margin-bottom: 40px;
}

.nudgetb-f {
    margin-top: 60px;
    margin-bottom: 60px;
}

.nudgetb-g {
    margin-top: 100px;
    margin-bottom: 100px;
}

.nudgelr-a {
    margin-left: 5px;
    margin-right: 5px;
}

.nudgelr-b {
    margin-left: 10px;
    margin-right: 10px;
}

.nudgelr-c {
    margin-left: 15px;
    margin-right: 15px;
}

.nudgelr-d {
    margin-left: 20px;
    margin-right: 20px;
}

.nudgelr-e {
    margin-left: 40px;
    margin-right: 40px;
}

.nudgelr-f {
    margin-left: 60px;
    margin-right: 60px;
}

.nudgelr-g {
    margin-left: 100px;
    margin-right: 100px;
}

.push-a {
    margin: .5%;
}

.push-b {
    margin: 1%;
}

.push-c {
    margin: 2%;
}

.push-d {
    margin: 3%;
}

.push-e {
    margin: 5%;
}

.push-f {
    margin: 7.5%;
}

.push-g {
    margin: 10%;
}

.pusht-a {
    margin-top: .5%;
}

.pusht-b {
    margin-top: 1%;
}

.pusht-c {
    margin-top: 2%;
}

.pusht-d {
    margin-top: 3%;
}

.pusht-e {
    margin-top: 5%;
}

.pusht-f {
    margin-top: 7.5%;
}

.pusht-g {
    margin-top: 10%;
}

.pushb-a {
    margin-bottom: .5%;
}

.pushb-b {
    margin-bottom: 1%;
}

.pushb-c {
    margin-bottom: 2%;
}

.pushb-d {
    margin-bottom: 3%;
}

.pushb-e {
    margin-bottom: 5%;
}

.pushb-f {
    margin-bottom: 7.5%;
}

.pushb-g {
    margin-bottom: 10%;
}

.pushr-a {
    margin-right: .5%;
}

.pushr-b {
    margin-right: 1%;
}

.pushr-c {
    margin-right: 2%;
}

.pushr-d {
    margin-right: 3%;
}

.pushr-e {
    margin-right: 5%;
}

.pushr-f {
    margin-right: 7.5%;
}

.pushr-g {
    margin-right: 10%;
}

.pushl-a {
    margin-left: .5%;
}

.pushl-b {
    margin-left: 1%;
}

.pushl-c {
    margin-left: 2%;
}

.pushl-d {
    margin-left: 3%;
}

.pushl-e {
    margin-left: 5%;
}

.pushl-f {
    margin-left: 7.5%;
}

.pushl-g {
    margin-left: 10%;
}

.pushtb-a {
    margin-top: .5%;
    margin-bottom: .5%;
}

.pushtb-b {
    margin-top: 1%;
    margin-bottom: 1%;
}

.pushtb-c {
    margin-top: 2%;
    margin-bottom: 2%;
}

.pushtb-d {
    margin-top: 3%;
    margin-bottom: 3%;
}

.pushtb-e {
    margin-top: 5%;
    margin-bottom: 5%;
}

.pushtb-f {
    margin-top: 7.5%;
    margin-bottom: 7.5%;
}

.pushtb-g {
    margin-top: 10%;
    margin-bottom: 10%;
}

.pushlr-a {
    margin-left: .5%;
    margin-right: .5%;
}

.pushlr-b {
    margin-left: 1%;
    margin-right: 1%;
}

.pushlr-c {
    margin-left: 2%;
    margin-right: 2%;
}

.pushlr-d {
    margin-left: 3%;
    margin-right: 3%;
}

.pushlr-e {
    margin-left: 5%;
    margin-right: 5%;
}

.pushlr-f {
    margin-left: 7.5%;
    margin-right: 7.5%;
}

.pushlr-g {
    margin-left: 10%;
    margin-right: 10%;
}

.shove-a {
    margin: .5vh .5vw;
}

.shove-b {
    margin: 1vh 1vw;
}

.shove-c {
    margin: 2vh 2vw;
}

.shove-d {
    margin: 3vh 3vw;
}

.shove-e {
    margin: 5vh 5vw;
}

.shove-f {
    margin: 7.5vh 7.5vw;
}

.shove-g {
    margin: 10vh 10vw;
}

.shovet-a {
    margin-top: .5vh;
}

.shovet-b {
    margin-top: 1vh;
}

.shovet-c {
    margin-top: 2vh;
}

.shovet-d {
    margin-top: 3vh;
}

.shovet-e {
    margin-top: 5vh;
}

.shovet-f {
    margin-top: 7.5vh;
}

.shovet-g {
    margin-top: 10vh;
}

.shoveb-a {
    margin-bottom: .5vh;
}

.shoveb-b {
    margin-bottom: 1vh;
}

.shoveb-c {
    margin-bottom: 2vh;
}

.shoveb-d {
    margin-bottom: 3vh;
}

.shoveb-e {
    margin-bottom: 5vh;
}

.shoveb-f {
    margin-bottom: 7.5vh;
}

.shoveb-g {
    margin-bottom: 10vh;
}

.shover-a {
    margin-right: .5vw;
}

.shover-b {
    margin-right: 1vw;
}

.shover-c {
    margin-right: 2vw;
}

.shover-d {
    margin-right: 3vw;
}

.shover-e {
    margin-right: 5vw;
}

.shover-f {
    margin-right: 7.5vw;
}

.shover-g {
    margin-right: 10vw;
}

.shovel-a {
    margin-left: .5vw;
}

.shovel-b {
    margin-left: 1vw;
}

.shovel-c {
    margin-left: 2vw;
}

.shovel-d {
    margin-left: 3vw;
}

.shovel-e {
    margin-left: 5vw;
}

.shovel-f {
    margin-left: 7.5vw;
}

.shovel-g {
    margin-left: 10vw;
}

.shovetb-a {
    margin-top: .5vh;
    margin-bottom: .5vh;
}

.shovetb-b {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.shovetb-c {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.shovetb-d {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.shovetb-e {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.shovetb-f {
    margin-top: 7.5vh;
    margin-bottom: 7.5vh;
}

.shovetb-g {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.shovelr-a {
    margin-left: .5vw;
    margin-right: .5vw;
}

.shovelr-b {
    margin-left: 1vw;
    margin-right: 1vw;
}

.shovelr-c {
    margin-left: 2vw;
    margin-right: 2vw;
}

.shovelr-d {
    margin-left: 3vw;
    margin-right: 3vw;
}

.shovelr-e {
    margin-left: 5vw;
    margin-right: 5vw;
}

.shovelr-f {
    margin-left: 7.5vw;
    margin-right: 7.5vw;
}

.shovelr-g {
    margin-left: 10vw;
    margin-right: 10vw;
}

.tx-black {
    color: #000000;
}

.tx-black-a {
    color: #191919;
}

.tx-black-b {
    color: #3f3f3f;
}

.tx-black-c {
    color: #565656;
}

.tx-black-d {
    color: #7f7f7f;
}

.tx-black-e {
    color: #aaaaaa;
}

.tx-black-f {
    color: #bfbfbf;
}

.tx-black-g {
    color: #e5e5e5;
}

.tx-blue {
    color: #3b5bd2;
}

.tx-blue-a {
    color: #4e6bd6;
}

.tx-blue-b {
    color: #6c84dd;
}

.tx-blue-c {
    color: #7d92e1;
}

.tx-blue-d {
    color: #9dade8;
}

.tx-blue-e {
    color: #bec8f0;
}

.tx-blue-f {
    color: #ced6f3;
}

.tx-blue-g {
    color: #ebeefa;
}

.tx-brown {
    color: #5e4615;
}

.tx-brown-a {
    color: #6e582c;
}

.tx-brown-b {
    color: #86744f;
}

.tx-brown-c {
    color: #948464;
}

.tx-brown-d {
    color: #aea28a;
}

.tx-brown-e {
    color: #c9c1b1;
}

.tx-brown-f {
    color: #d6d0c4;
}

.tx-brown-g {
    color: #eeece7;
}

.tx-cyan {
    color: #3bf7f1;
}

.tx-cyan-a {
    color: #4ef7f2;
}

.tx-cyan-b {
    color: #6cf9f4;
}

.tx-cyan-c {
    color: #7df9f5;
}

.tx-cyan-d {
    color: #9dfbf8;
}

.tx-cyan-e {
    color: #befcfa;
}

.tx-cyan-f {
    color: #cefdfb;
}

.tx-cyan-g {
    color: #ebfefd;
}

.tx-dark {
    color: #191919;
}

.tx-dark-a {
    color: #2f2f2f;
}

.tx-dark-b {
    color: #525252;
}

.tx-dark-c {
    color: #676767;
}

.tx-dark-d {
    color: #8c8c8c;
}

.tx-dark-e {
    color: #b3b3b3;
}

.tx-dark-f {
    color: #c5c5c5;
}

.tx-dark-g {
    color: #e8e8e8;
}

.tx-flame {
    color: #ff1900;
}

.tx-flame-a {
    color: #ff2f19;
}

.tx-flame-b {
    color: #ff523f;
}

.tx-flame-c {
    color: #ff6756;
}

.tx-flame-d {
    color: #ff8c7f;
}

.tx-flame-e {
    color: #ffb3aa;
}

.tx-flame-f {
    color: #ffc5bf;
}

.tx-flame-g {
    color: #ffe8e5;
}

.tx-gold {
    color: #c9b43e;
}

.tx-gold-a {
    color: #cebb51;
}

.tx-gold-b {
    color: #d6c66e;
}

.tx-gold-c {
    color: #dbcd7f;
}

.tx-gold-d {
    color: #e4d99e;
}

.tx-gold-e {
    color: #ede6bf;
}

.tx-gold-f {
    color: #f1ecce;
}

.tx-gold-g {
    color: #f9f7eb;
}

.tx-green {
    color: #198c1b;
}

.tx-green-a {
    color: #2f9731;
}

.tx-green-b {
    color: #52a854;
}

.tx-green-c {
    color: #67b368;
}

.tx-green-d {
    color: #8cc58d;
}

.tx-green-e {
    color: #b3d9b3;
}

.tx-green-f {
    color: #c5e2c6;
}

.tx-green-g {
    color: #e8f3e8;
}

.tx-grey {
    color: #4a4f54;
}

.tx-grey-a {
    color: #5c6065;
}

.tx-grey-b {
    color: #777b7e;
}

.tx-grey-c {
    color: #878a8e;
}

.tx-grey-d {
    color: #a4a7a9;
}

.tx-grey-e {
    color: #c3c4c6;
}

.tx-grey-f {
    color: #d1d3d4;
}

.tx-grey-g {
    color: #eceded;
}

.tx-lime {
    color: #9edb34;
}

.tx-lime-a {
    color: #a7de48;
}

.tx-lime-b {
    color: #b6e466;
}

.tx-lime-c {
    color: #bee779;
}

.tx-lime-d {
    color: #ceed99;
}

.tx-lime-e {
    color: #def3bc;
}

.tx-lime-f {
    color: #e6f6cc;
}

.tx-lime-g {
    color: #f5fbea;
}

.tx-magenta {
    color: #e628ff;
}

.tx-magenta-a {
    color: #e83dff;
}

.tx-magenta-b {
    color: #ec5dff;
}

.tx-magenta-c {
    color: #ee71ff;
}

.tx-magenta-d {
    color: #f293ff;
}

.tx-magenta-e {
    color: #f6b8ff;
}

.tx-magenta-f {
    color: #f8c9ff;
}

.tx-magenta-g {
    color: #fce9ff;
}

.tx-maroon {
    color: #602132;
}

.tx-maroon-a {
    color: #6f3746;
}

.tx-maroon-b {
    color: #875865;
}

.tx-maroon-c {
    color: #966c77;
}

.tx-maroon-d {
    color: #af9098;
}

.tx-maroon-e {
    color: #cab5bb;
}

.tx-maroon-f {
    color: #d7c7cb;
}

.tx-maroon-g {
    color: #efe8ea;
}

.tx-navy {
    color: #030248;
}

.tx-navy-a {
    color: #1c1b5a;
}

.tx-navy-b {
    color: #424175;
}

.tx-navy-c {
    color: #585886;
}

.tx-navy-d {
    color: #8180a3;
}

.tx-navy-e {
    color: #ababc2;
}

.tx-navy-f {
    color: #c0bfd1;
}

.tx-navy-g {
    color: #e5e5ec;
}

.tx-orange {
    color: #db5600;
}

.tx-orange-a {
    color: #de6619;
}

.tx-orange-b {
    color: #e4803f;
}

.tx-orange-c {
    color: #e78f56;
}

.tx-orange-d {
    color: #edaa7f;
}

.tx-orange-e {
    color: #f3c7aa;
}

.tx-orange-f {
    color: #f6d4bf;
}

.tx-orange-g {
    color: #fbeee5;
}

.tx-pale {
    color: #ffcffc;
}

.tx-pale-a {
    color: #ffffd1;
}

.tx-pale-b {
    color: #ffffd8;
}

.tx-pale-c {
    color: #ffffdd;
}

.tx-pale-d {
    color: #ffffe5;
}

.tx-pale-e {
    color: #ffffee;
}

.tx-pale-f {
    color: #fffff2;
}

.tx-pale-g {
    color: #fffff9;
}

.tx-pink {
    color: #fc6ac9;
}

.tx-pink-a {
    color: #fc78ce;
}

.tx-pink-b {
    color: #fc8fd6;
}

.tx-pink-c {
    color: #fd9cdb;
}

.tx-pink-d {
    color: #fdb4e4;
}

.tx-pink-e {
    color: #fecded;
}

.tx-pink-f {
    color: #fed9f1;
}

.tx-pink-g {
    color: #fef0f9;
}

.tx-purple {
    color: #810195;
}

.tx-purple-a {
    color: #8d1a9f;
}

.tx-purple-b {
    color: #a040af;
}

.tx-purple-c {
    color: #ab57b9;
}

.tx-purple-d {
    color: #c080ca;
}

.tx-purple-e {
    color: #d5abdc;
}

.tx-purple-f {
    color: #dfbfe4;
}

.tx-purple-g {
    color: #f2e5f4;
}

.tx-red {
    color: #9c0816;
}

.tx-red-a {
    color: #a5202d;
}

.tx-red-b {
    color: #b44550;
}

.tx-red-c {
    color: #bd5b65;
}

.tx-red-d {
    color: #cd838a;
}

.tx-red-e {
    color: #deadb2;
}

.tx-red-f {
    color: #e6c1c4;
}

.tx-red-g {
    color: #f5e6e7;
}

.tx-salmon {
    color: #ff9993;
}

.tx-salmon-a {
    color: #ffa39d;
}

.tx-salmon-b {
    color: #ffb2ae;
}

.tx-salmon-c {
    color: #ffbbb7;
}

.tx-salmon-d {
    color: #ffccc9;
}

.tx-salmon-e {
    color: #ffdddb;
}

.tx-salmon-f {
    color: #ffe5e4;
}

.tx-salmon-g {
    color: #fff4f4;
}

.tx-silver {
    color: #bcbcbc;
}

.tx-silver-a {
    color: #c2c2c2;
}

.tx-silver-b {
    color: #cccccc;
}

.tx-silver-c {
    color: #d2d2d2;
}

.tx-silver-d {
    color: #dddddd;
}

.tx-silver-e {
    color: #e8e8e8;
}

.tx-silver-f {
    color: #eeeeee;
}

.tx-silver-g {
    color: #f8f8f8;
}

.tx-tan {
    color: #c6b493;
}

.tx-tan-a {
    color: #cbbb9d;
}

.tx-tan-b {
    color: #d4c6ae;
}

.tx-tan-c {
    color: #d9cdb7;
}

.tx-tan-d {
    color: #e2d9c9;
}

.tx-tan-e {
    color: #ece6db;
}

.tx-tan-f {
    color: #f0ece4;
}

.tx-tan-g {
    color: #f9f7f4;
}

.tx-teal {
    color: #028091;
}

.tx-teal-a {
    color: #1b8c9c;
}

.tx-teal-b {
    color: #419fac;
}

.tx-teal-c {
    color: #58abb6;
}

.tx-teal-d {
    color: #80bfc8;
}

.tx-teal-e {
    color: #abd5da;
}

.tx-teal-f {
    color: #bfdfe3;
}

.tx-teal-g {
    color: #e5f2f4;
}

.tx-transparent {
    color: transparent;
    text-shadow: none;
}

.tx-violet {
    color: #5c07bc;
}

.tx-violet-a {
    color: #6c1fc2;
}

.tx-violet-b {
    color: #8445cc;
}

.tx-violet-c {
    color: #935bd2;
}

.tx-violet-d {
    color: #ad83dd;
}

.tx-violet-e {
    color: #c9ade8;
}

.tx-violet-f {
    color: #d6c1ee;
}

.tx-violet-g {
    color: #eee6f8;
}

.tx-white {
    color: #ffffff;
}
/*These are transparent*/
.tx-white-a {
    color: rgba(255, 255, 255, .9);
}

.tx-white-b {
    color: rgba(255, 255, 255, .75);
}

.tx-white-c {
    color: rgba(255, 255, 255, .66);
}

.tx-white-d {
    color: rgba(255, 255, 255, .5);
}

.tx-white-e {
    color: rgba(255, 255, 255, .33);
}

.tx-white-f {
    color: rgba(255, 255, 255, .25);
}

.tx-white-g {
    color: rgba(255, 255, 255, .1);
}

.tx-yellow {
    color: #ffb736;
}

.tx-yellow-a {
    color: #ffbe4a;
}

.tx-yellow-b {
    color: #ffc968;
}

.tx-yellow-c {
    color: #ffcf7a;
}

.tx-yellow-d {
    color: #ffdb9a;
}

.tx-yellow-e {
    color: #ffe7bc;
}

.tx-yellow-f {
    color: #ffedcc;
}

.tx-yellow-g {
    color: #fff7ea;
}

.tx-center {
    text-align: center;
}

.tx-justify {
    text-align: justify;
}

.tx-left {
    text-align: left;
}

.tx-right {
    text-align: right;
}

.tx-thin {
    font-weight: 100;
}

.tx-light {
    font-weight: 300;
}

.tx-normal {
    font-weight: 400;
}

.tx-medium {
    font-weight: 500;
}

.tx-semi {
    font-weight: 600;
}

.tx-bold {
    font-weight: 700;
}

.tx-ultra {
    font-weight: 900;
}

.tx-block-sans {
    font-family: "Passion One", sans-serif;
}

.tx-block-serif {
    font-family: "Abril Fatface", serif;
}

.tx-cartoon {
    font-family: "Luckiest Guy", sans-serif;
}

.tx-comic {
    font-family: McLaren, cursive;
}

.tx-cursive {
    font-family: "Dancing Script", cursive;
}

.tx-gothic {
    font-family: Questrial, sans-serif;
}

.tx-groovy {
    font-family: "Mystery Quest", cursive;
}

.tx-hand {
    font-family: "Just Another Hand", sans-serif;
}

.tx-mono {
    font-family: "Source Code Pro", sans-serif;
}

.tx-sans {
    font-family: Cabin, sans-serif;
}

.tx-serif {
    font-family: "Playfair Display", serif;
}

.tx-western {
    font-family: Smokum, serif;
}

.caps {
    text-transform: uppercase;
}

.tx-shadow {
    text-shadow: 0 0 4px #000;
}

.has-sub,
.sub {
    -ms-flex-direction: column;
    flex-direction: column;
}

.sub {
    position: absolute;
    width: 100%;
    display: none;
}

.sub>li {
    text-align: inherit;
    width: 100%;
}

.has-sub::after,
.sub .has-sub::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 0;
}

.sub-link:hover+.sub,
.sub:hover {
    display: block;
    left: 0;
    z-index: 5;
}

.sub .sub {
    position: absolute;
    -webkit-transform: translate(95%, -50%);
    -ms-transform: translate(95%, -50%);
    transform: translate(95%, -50%);
    -webkit-transition: none;
    transition: none;
    z-index: 6;
}

.has-sub::after {
    border: 8px solid transparent;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-top-color: rgba(0, 0, 0, .25);
}

.sub .has-sub::after {
    border: 8px solid transparent;
    top: 50%;
    left: 103%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-left-color: rgba(0, 0, 0, .25);
}

.row {
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
}

.row-a,
.row-b {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
}

.row-a {
    -ms-flex-direction: row;
    flex-direction: row;
    width: 50%;
}

.row-b {
    -ms-flex-direction: row;
    flex-direction: row;
    width: 60%;
}

.row-c,
.row-d {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
}

.row-c {
    -ms-flex-direction: row;
    flex-direction: row;
    width: 66%;
}

.row-d {
    -ms-flex-direction: row;
    flex-direction: row;
    width: 70%;
}

.row-e,
.row-f {
    -webkit-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}

.row-e {
    -ms-flex-direction: row;
    flex-direction: row;
    width: 75%;
}

.row-f {
    -ms-flex-direction: row;
    flex-direction: row;
    width: 80%;
}

.row-g {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 90%;
}

.row-left {
    margin-left: 0;
}

.row-right {
    margin-right: 0;
}

.column {
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.column-a,
.column-b {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
}

.column-a {
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50%;
}

.column-b {
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60%;
}

.column-c,
.column-d {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
}

.column-c {
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 66%;
}

.column-d {
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 70%;
}

.column-e,
.column-f {
    -webkit-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.column-e {
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 75%;
}

.column-f {
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 80%;
}

.column-g {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 90%;
}

.column-top {
    margin-top: 0;
}

.column-bottom {
    margin-bottom: 0;
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.jc-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.jc-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.jc-around {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-around;
    -ms-flex-pack: justify;
    justify-content: space-around;
}

.jc-end {
    -webkit-justify-content: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.jc-start {
    -webkit-justify-content: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.ai-start {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.ai-end {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.ai-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.ai-stretch {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.ai-baseline {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.ac-start {
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.ac-end {
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
}

.ac-center {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.ac-between {
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
}

.ac-around {
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
}

.ac-stretch {
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}

.as-start {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.as-end {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.as-center {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.as-baseline {
    -webkit-align-self: baseline;
    -ms-flex-item-align: baseline;
    align-self: baseline;
}

.as-stretch {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}

.wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.mob-show,
.mob-show-b,
.tab-show,
.tab-show-b {
    display: none;
}

@media (max-width:1024px) {
    .tab-hide {
        display: none;
    }
    .tab-show {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .tab-show-b {
        display: block;
    }
}

@media (max-width:720px) {
    .flex {
        box-shadow: none;
    }
    #nav-bar.box {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    #nav-bar>.box {
        width: 100%;
    }
    .has-sub::after,
    .has-sub::before,
    .sub .has-sub::after {
        content: '';
        position: absolute;
        width: 22px;
        right: 25px;
        display: block;
    }
    .sub .sub {
        -webkit-transform: inherit;
        -ms-transform: inherit;
        transform: inherit;
    }
    .has-sub::before {
        height: 3px;
        top: 28px;
        border-top: 2px solid rgba(255, 255, 255, .5);
    }
    .has-sub::after,
    .sub .has-sub::after {
        height: 7px;
        border: none;
        top: 18px;
        left: inherit;
        -webkit-transform: unset;
        -ms-transform: unset;
        transform: unset;
        border-top: 2px solid rgba(255, 255, 255, .5);
        border-bottom: 2px solid rgba(255, 255, 255, .5);
    }
    .sub-link+ul.open {
        display: block;
    }
    .sub-link:hover+.sub,
    .sub:hover {
        display: none;
    }
    .mob-show {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .mob-show-b {
        display: block;
    }
}
